@charset "UTF-8";

@font-face {
  font-family: 'Comfortaa-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Comfortaa-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Comfortaa-Medium.woff2") format("woff2"), url("../fonts/Comfortaa-Medium.woff") format("woff"), url("../fonts/Comfortaa-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Comfortaa-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold.ttf") format("ttf");
}

@font-face {
  font-family: 'Lato-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("ttf");
}

:root {
  --bg-color: #171923;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #c31331;
  --color-gray: #828282;
}

body,
.dishes__item-price:after {
  font-family: "Comfortaa-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.dishes__item,
.dishes__item-name {
  font-family: "Lato-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.dishes__item-price {
  font-family: "Lato-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  background: #ffefba;
  font-size: 14px;
  line-height: 1.1;
  color: var(--color-black);
}

.container {
  max-width: calc(1368px + 2 * 60px);
  margin: 0 auto;
  padding: 0 60px;
}

.container-small {
  max-width: calc(1368px + 135px);
  margin: 0 auto;
  padding: 0 135px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 40px;
}

.page-wrapper {
  overflow: hidden;
}

.body-lock {
  overflow: hidden !important;
}

.fixedToTop {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
}

.burger {
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.burger--active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.burger--active .burger__line--first {
  -webkit-transform: translateY(9px) rotate(45deg);
      -ms-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.burger--active .burger__line--second {
  -webkit-transform: scale(0.01);
      -ms-transform: scale(0.01);
          transform: scale(0.01);
}

.burger--active .burger__line--third {
  -webkit-transform: translateY(-9px) rotate(-45deg);
      -ms-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

.btn {
  padding: 3px 19px;
  background: var(--color-red);
  border-radius: 45px;
  text-transform: uppercase;
  color: var(--color-white);
  line-height: 16px;
}

.header {
  background: var(--bg-color);
  padding: 20px 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
}

.menu {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 32px;
}

.menu__item:not(:last-child) {
  margin-right: 64px;
}

.menu__link {
  position: relative;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 5px;
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--color-white);
  -webkit-transition: width 0.25s ease;
  -o-transition: width 0.25s ease;
  transition: width 0.25s ease;
}

.menu__link.current-page:before {
  width: 100%;
}

.menu__link:hover:before {
  width: 100%;
}

.hero {
  position: relative;
}

.hero__title {
  position: absolute;
  bottom: 120px;
  max-width: 80%;
  background: #ffefba;
  text-transform: uppercase;
  border-top-left-radius: 50px;
}

.products {
  padding: 40px 0;
}

.products__title {
  margin-left: 75px;
  margin-right: 75px;
}

.products__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -20px;
}

.products__preview-item {
  position: relative;
  margin: 20px;
  border-radius: 45px;
}

.products__preview-item:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59%;
          flex: 0 1 59%;
  background-image: url("../img/main-pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.products__preview-item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39%;
          flex: 0 1 39%;
  background-image: url("../img/main-dinner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.products__preview-text {
  position: absolute;
  bottom: 60px;
  left: -1px;
  width: calc(100% + 2px);
  background: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  text-align: center;
  border: 0.5px solid var(--color-white);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dishes {
  padding: 40px 0;
}

.dishes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -8px;
}

.dishes__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 280px;
  max-width: 358px;
  background: var(--color-white);
  text-align: center;
  margin: 8px;
  padding: 24px;
  border-radius: 45px;
}

.dishes__item[data-sale]:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  min-width: 50px;
  min-height: 50px;
  background-image: url("../img/sale.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.dishes__item[data-sale] .dishes__item-price:before {
  content: attr(data-old-price) "$";
  position: absolute;
  bottom: 2px;
  left: 0;
  color: var(--color-gray);
  text-decoration: line-through;
  -webkit-transform: translateX(calc(-100% - 5px));
      -ms-transform: translateX(calc(-100% - 5px));
          transform: translateX(calc(-100% - 5px));
}

.dishes__item-name {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.dishes__item-descr {
  margin-bottom: 32px;
}

.dishes__item-img {
  max-width: 100%;
  max-height: 263px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: auto;
  margin-bottom: 18px;
}

.dishes__item-price {
  position: relative;
  line-height: 1;
  margin-bottom: 18px;
}

.dishes__item-price:after {
  content: attr(data-count-gram) "гр.";
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 14px;
  -webkit-transform: translateX(calc(100% + 5px));
      -ms-transform: translateX(calc(100% + 5px));
          transform: translateX(calc(100% + 5px));
}

.btn-toCart {
  padding: 10px 52px;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.btn-toCart:hover {
  background-color: #da1537;
}

.footer {
  color: var(--color-white);
  background-color: var(--bg-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -4px -16px 12px -16px;
}

.footer__menu-item {
  margin: 4px 16px;
}

.footer__menu-link {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer__menu-link:hover {
  color: #cccccc;
}

.footer__address {
  max-width: 270px;
  font-size: 9px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.footer-social__item:not(:last-child) {
  margin-right: 32px;
}

.footer-social__icon {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 40px 0;
}

.about__title {
  margin-bottom: 8px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -9px;
}

.about__item:not(:last-child) {
  margin-bottom: 40px;
}

.about__item * {
  margin: 0 9px;
}

.about__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__item-text {
  max-width: 545px;
}

.about__item-img {
  height: 100%;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.delivery__list {
  margin-bottom: 18px;
}

.delivery__item:not(:last-child) {
  margin-bottom: 18px;
}

.delivery__item-text {
  max-width: 1024px;
}

.delivery-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery-social__link {
  width: 100%;
  height: 100%;
}

.delivery-social__item:not(:last-child) {
  margin-right: 10px;
}

.delivery-social__img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .container-small {
    padding-left: 60px;
  }

  .container-small {
    padding-right: 60px;
  }
}

@media (min-width: 1025px) {
  body {
    overflow: auto !important;
  }
}

@media (min-width: 1368px) {
  .container-small {
    padding-left: 135px;
  }

  .container-small {
    padding-right: 135px;
  }

  .title {
    font-size: 36px;
  }

  .hero__title {
    padding: 30px;
  }

  .hero__title {
    font-size: 50px;
  }

  .products__preview-item {
    min-height: 528px;
  }

  .products__preview-text {
    font-size: 36px;
  }

  .dishes__item {
    width: 358px;
  }

  .dishes__item[data-sale] .dishes__item-price:before {
    font-size: 24px;
  }

  .dishes__item-name {
    font-size: 24px;
  }

  .dishes__item-price {
    font-size: 30px;
  }

  .about__item-text {
    font-size: 24px;
  }

  .about__item-img {
    width: 545px;
  }

  .delivery__item-text {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .container-small {
    padding-left: 60px;
  }

  .container-small {
    padding-right: 60px;
  }

  .burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 20px;
  }

  .burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-white);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .burger__line--first {
    top: 0;
  }

  .burger__line--second {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger__line--third {
    bottom: 0;
  }

  .header--active::before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: var(--bg-color);
  }

  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 3;
    top: -100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .nav--active {
    overflow-y: auto;
    opacity: 1;
    visibility: visible;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .menu__item {
    cursor: pointer;
    width: 80%;
    text-align: center;
    margin-right: 0 !important;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .menu__link {
    display: inline-block;
    padding: 5px;
  }

  .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .cart {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .burger {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .burger,
  .logo,
  .cart {
    position: relative;
    z-index: 10;
  }

  .hero__title {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .products__title {
    margin: 0 20px 40px;
  }

  .products__preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__item-img {
    margin-bottom: 18px;
  }
}

@media (max-width: 639px) {
  .dishes__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .dishes__item {
    margin: 8px auto;
  }
}

@media (max-width: 576px) {
  .container-small {
    padding-left: 20px;
  }

  .container-small {
    padding-right: 20px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .products__title {
    margin: 0 0 40px;
  }

  .dishes__item {
    width: 280px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 20px;
  }

  .hero__title {
    font-size: 24px;
  }

  .products__preview-item {
    min-height: 280px;
  }

  .products__preview-text {
    font-size: 20px;
  }

  .dishes__item[data-sale] .dishes__item-price:before {
    font-size: 20px;
  }

  .dishes__item-name {
    font-size: 20px;
  }

  .dishes__item-price {
    font-size: 24px;
  }

  .about__item-text {
    font-size: 16px;
  }

  .about__item-img {
    width: 280px;
  }

  .delivery__item-text {
    font-size: 20px;
  }
}

@media (max-width: 1368px) and (min-width: 1024px) {
  .container-small {
    padding-left: calc(60px + 75 * ((100vw - 1024px) / 344));
  }

  .container-small {
    padding-right: calc(60px + 75 * ((100vw - 1024px) / 344));
  }

  .hero__title {
    padding: calc(20px + 10 * ((100vw - 1024px) / 344));
  }
}

@media (max-width: 1024px) and (min-width: 576px) {
  .container-small {
    padding-left: calc(20px + 40 * ((100vw - 576px) / 448));
  }

  .container-small {
    padding-right: calc(20px + 40 * ((100vw - 576px) / 448));
  }
}

@media (max-width: 1368px) and (min-width: 320px) {
  .title {
    font-size: calc(20px + 16 * ((100vw - 320px) / 1048));
  }

  .hero__title {
    font-size: calc(24px + 26 * ((100vw - 320px) / 1048));
  }

  .products__preview-item {
    min-height: calc(280px + 248 * ((100vw - 320px) / 1048));
  }

  .products__preview-text {
    font-size: calc(20px + 16 * ((100vw - 320px) / 1048));
  }

  .dishes__item[data-sale] .dishes__item-price:before {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1048));
  }

  .dishes__item-name {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1048));
  }

  .dishes__item-price {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1048));
  }

  .about__item-text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1048));
  }

  .about__item-img {
    width: calc(280px + 265 * ((100vw - 320px) / 1048));
  }

  .delivery__item-text {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1048));
  }
}

@media (max-width: 1368px) and (min-width: 576px) {
  .dishes__item {
    width: calc(280px + 78 * ((100vw - 576px) / 792));
  }
}

@media (max-height: 480px) {
  .nav--active {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 125px;
  }

  .hero__title {
    bottom: 40px;
  }
}